<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DCCKellyDatabase"
         connectionString="Server=tcp:pltnm-dev-testing.database.windows.net,1433;Initial Catalog=DCC_Kelly;Persist Security Info=False;User ID=kstrandholm;Password=g83y9hAHiTyc38NjJUF8;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>